* {
    box-sizing: border-box;
}

.red {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.black {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.green {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid green;
}

.blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid cadetblue;
}

body {
    margin: 0;
    padding: 0;
    padding: 0 170px;
    width: 100%;
    height: fit-content;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 180px;
    width: inherit;
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 1488;
    border-bottom: 1px solid black;
    align-items: center;
}

#logotip {
    width: 100px;
    height: 80%;
    padding: .5rem;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

#navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

#navbar a:hover {
    text-decoration: underline;
}

.container {
    margin: 1rem 0;
    height: 100vh;
}

#about-block {
}

#year-review {
}

#images-block {
    height: 130vh;
}

#contact {
    height: 10vw;
}

button.show-more {
    border: 2px solid #ff00ff;
    font-size: 1.4rem;
    background: none;
    padding: .5rem;
    justify-self: flex-end;
}