* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    padding: 0 170px;
    width: 100%;
    height: fit-content;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 0 180px;
    width: inherit;
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 1488;
    align-items: center;
    background-image: url('./img/navbar.png');
    background-position: 180px 0;
    transition: opacity .3s;
}

nav:hover {
    opacity: 1 !important;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

#navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
}

#navbar a:hover {
    text-decoration: underline;
}

.container {
    margin: 1rem 0;
    height: 100vh;
    background-size: cover;
}

#about-block {
    margin-top: 6rem;
    background-image: url('./img/home.png');
}

#year-review {
    background-image: url('./img/about.png');
}

#images-block {
    height: 130vh;
    
}

#contact {
    height: 10vw;
}

button.show-more {
    border: 2px solid #ff00ff;
    font-size: 1.4rem;
    background: none;
    padding: .5rem;
    justify-self: flex-end;
}